In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [2]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"} 
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
mars_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [4]:
browser.visit(mars_url)

In [5]:
html = browser.html
soup = bs(html, "html.parser")

In [8]:
mars_title = soup.find_all("div", class_="content_title")[1].text
mars_title

"NASA's Perseverance Rover Is Midway to Mars "

In [11]:
mars_paragraph = soup.find_all("div", class_="article_teaser_body")[0].text
mars_paragraph

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

In [18]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [19]:
browser.visit(jpl_url)

#html = browser.html
#soup = bs(html, "html.parser")

In [20]:
browser.click_link_by_partial_text("FULL IMAGE")

In [21]:
browser.click_link_by_partial_text("more info")

In [22]:
html = browser.html
soup = bs(html, "html.parser")

In [23]:
image1 = soup.find_all("figure", class_="lede")[0].a["href"]
image1

'/spaceimages/images/largesize/PIA23436_hires.jpg'

In [24]:
jpl_image = "https://www.jpl.nasa.gov" + image1
jpl_image

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23436_hires.jpg'

In [ ]:
##Mars Facts

In [25]:
Mars_facts = pd.read_html("https://space-facts.com/mars/")
Mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [26]:
marsfactsdf = Mars_facts[0]
marsfactsdf

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
marsfactsdf.columns = ["descriptions","values"]
marsfactsdf.set_index(['descriptions'])

In [ ]:
marsfacts_html = marsfactsdf.to_html(classes = 'table table-striped')